/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 40px;
  padding-bottom: 20px;
}

.navbar {
  background-color: #106535;
}

#nav_logo {
  max-width: 30px;
  max-height: 30px;
}

.jumbotron {
    height: 100vh;
    background-image: url("../static/cooking_class.jpg");
    background-size: cover;
}

.hero_image {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/*
.container {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
*/

.hero_text {
  margin: auto;
  text-align: center;
}
